<%- include('../header.ejs') %>

<br><br><br><br>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Serial.no</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>gender</th>
            <th>DOB</th>
            <th>Address</th>
            <th>College</th>
            <th>Branch</th>
            <th>Status</th>
            <th>Comment</th>
            <th>ACtion</th>
        </tr>
        <% i=1 %>

            <% f.forEach((b)=>{ %>
                <tr>
                    <td>
                        <%= i++ %>
                    </td>
                    <td>
                        <%= b.name %>
                    </td>
                    <td>
                        <%= b.email %>
                    </td>
                    <td>
                        <%= b.phone %>
                    </td>
                    <td>
                        <%= b.gender %>
                    </td>

                    <td>
                        <%= b.date %>
                    </td>
                    <td>
                        <%= b.address %>
                    </td>
                    <td>
                        <%= b.college %>
                    </td>
                    <td>
                        <%= b.branch %>
                    </td>
                    <td>
                        <%= b.status %>
                    </td>
                    <td>
                        <%= b.comment %>
                    </td>
                    <td>
                        <a href="/register/btechview/<%= b._id %>" class="btn btn-info"><i
                                class="fa-sharp fa-solid fa-eye"></i></a>
                        <a href="/register/btechedit/<%= b._id %>" class="btn btn-warning"><i
                                class="fa-regular fa-pen-to-square"></i></a>
                    </td>

                    <% }) %>
    </table>

    <%- include('../footer.ejs') %>
